<div class="container">
        <h1>Welcome, {{ user.username }}!</h1>
        <h2>Your Posts:</h2>
        <ul>
            {{#if posts}}
  {{#each posts}}
        <h2><a href="/posts">{{ this.title }}</a></h2>
    <p>{{ this.content }}</p>
  {{/each}}
{{else}}
  <p>No posts found for this user.</p>
{{/if}}

        </ul>
        <p><a href="/">Back to Home</a></p>

        <input type="hidden" id="userId" value="{{ user.id }}">

    </div>