<div class="container">
        <h1>Welcome, {{ user.username }}!</h1>
        <h2>Your Posts:</h2>
        <ul>
            {{#if user.posts}}
  {{#each user.posts}}
    <h2>{{ title }}</h2>
    <p>{{ content }}</p>
  {{/each}}
{{else}}
  <p>No posts found for this user.</p>
{{/if}}

        </ul>
        <p><a href="/">Back to Home</a></p>

        <input type="hidden" id="userId" value="{{ user.id }}">

    </div>

{{!-- <script src="/js/profile.js"></script> --}}